@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/Poppins-Regular.tff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root  {
    --background: 199 82% 95%;
    --foreground: 199 5% 0%;
    --card: 199 50% 90%;
    --card-foreground: 199 5% 10%;
    --popover: 199 82% 95%;
    --popover-foreground: 199 95% 0%;
    --primary: 199 63.8% 72.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 199 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 161 30% 85%;
    --muted-foreground: 199 5% 35%;
    --accent: 161 30% 80%;
    --accent-foreground: 199 5% 10%;
    --destructive: 0 82% 30%;
    --destructive-foreground: 199 5% 90%;
    --border: 199 30% 50%;
    --input: 199 30% 18%;
    --ring: 199 63.8% 72.9%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 199 50% 5%;
    --foreground: 199 5% 90%;
    --card: 199 50% 0%;
    --card-foreground: 199 5% 90%;
    --popover: 199 50% 5%;
    --popover-foreground: 199 5% 90%;
    --primary: 199 63.8% 72.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 199 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 161 30% 15%;
    --muted-foreground: 199 5% 60%;
    --accent: 161 30% 15%;
    --accent-foreground: 199 5% 90%;
    --destructive: 0 82% 30%;
    --destructive-foreground: 199 5% 90%;
    --border: 199 30% 18%;
    --input: 199 30% 18%;
    --ring: 199 63.8% 72.9%;
    --radius: 0.5rem;
  }
}


@layer utilities {
  .half-minus-12 {
    right: calc(50% - 64px);
  }
}

.valid_drop_space {
  background-color: green;
}
.invalid_drop_space {
  background-color: red;
}

.fadeIn{
  animation: 0.3s 1 normal fade-in;
}

@keyframes fade-in{
  0% {
    opacity: 0;
    border:'none'
  }
  100% {
    opacity: 1;
  }
}